@keyframes rotate {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
.gradient {
    --size: 750px;
    --speed: 20s;
    --easing: cubic-bezier(0.8, 0.5, 0.5, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#0048ff, #7befd0);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
@media (min-width: 720px) {
    .gradient {
        --size: 450px;
   }
}
body {
    background-color: #19232c;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}
/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.5s ease-out;
}
