/*-----html-----*/

html{
    overflow-x: hidden;
    font-family: monospace;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    
    background-color: #262b3a;
    
}



/*----- BACKGROUND VARIATION -----*/

@keyframes rotateVariation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.gradient-variation {
    opacity: 1;
    position: fixed;
    padding: 10px;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: -2;
    --size: 800px; /* Taille légèrement plus grande */
    --speed: 25s; /* Rotation plus lente */
    --easing: cubic-bezier(0.7, 0.3, 0.5, 0.9);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 6)); /* Moins de blur */
    background-image: linear-gradient(135deg, #ff7e5f, #feb47b); /* Nouvelle combinaison de couleurs */
    animation: rotateVariation var(--speed) var(--easing) alternate infinite;
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%; /* Forme différente */
}

.gradient-variation {
    transition: all 1s ease-out;
}





/*-----header-----*/


header a{
    text-decoration: none;
    width: fit-content;
    font-size: 1.5vw;
    margin-left: 2vw;
    margin-top: 10px;
    padding: 10px;
    color: #e8d7bc;
    border: solid #e8d7bc 3px;
    transition: 500ms;
    display: block;
    
}

header a:hover{
    color: #262b3a;
    background-color: #e8d7bc;
    transition: 200ms;
}


/*-----main-----*/

/* section */

main .container{
    border: solid #98d9fe 5px;
    border-top-right-radius: 2vw;
    margin: 2vw;
    height: fit-content;
    min-height: 77vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    background-blend-mode: color-burn;
}

main h2{
    font-size: 3vw;
    color: #e8d7bc;
    margin: 11px;
}

main p {
    color: #ffffe9;
    font-size: 20px;
    margin: 30px;
    text-align: justify;
}




/*-----footer-----*/


footer{
    width: 100%;
    height: 1vw;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    color: #e8d7bc;
    text-align: center;
    
}
